#logo {
    color: black;
    text-transform: uppercase;
    font-weight: bold;
    font-family: 'Arizonia', cursive;
    font-size: 50px;
    float: left;
    margin-right: 350px;
}

.menu a {
    color: black;
    margin-right: 70px;
    font-weight: 700;
    
}


.header {
    line-height: 70px;
    position: fixed;
    z-index: 1;
    background-color: white;
    box-shadow: 1px 1px 5px grey;
}

.banner {
    background-image: url("https://www.wallpapertip.com/wmimgs/81-812081_minimalist-purple-background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 600px;
    
}

.banner h1 {
    color: aliceblue;
    text-align: center;
    margin-top: 150px;
    text-shadow: 4px 4px 5px black;
    

    
}



.who {
    text-align: center;
    margin-top: 40px;
}

#cont {
    text-align: center;
    
}

.separator{
    height: 3px;
    width: 5%;
    border: none;
    box-shadow: none;
    background-color: black;
}

#suisje {
    text-align: center;
    padding-bottom: 40px;
    padding-top: 20px;
}

.qui {
    background-color: rgb(200, 209, 218);
    border: 2px solid #e0e0e0;
    border-radius: 20px;
    margin-top: 15px;
    margin-bottom: 15px;
    
}
    
    

.exp {
    background-color:rgb(199, 190, 199);
    border: 2px solid #e0e0e0;
    border-radius: 20px;
    margin-top: 15px;
    margin-bottom: 15px;
    
}

#ex {
    text-align: center;
    padding-bottom: 40px;
    padding-top: 20px;
    
}

.about {
    padding-bottom: 80px;
    padding-top: 30px;
    
}

.comp img {
    height: 70%;
    align-self: center;
    
}

.section {
    margin-left: 50px;
    margin-right: 50px;
}

.rpg a {
    background-color: black;
    display:flex;
    justify-content: center;  
}

.rpg {
    display: flex;
    justify-content: center;
}

.background {
    background-color: white;
    
}

/* .background2 {
    background-color: rgb(228, 224, 224);
} */

p {
    font-family: 'Karla', sans-serif;
    font-size: 20px;
}

.card-title {
    text-align: center;
}

html {
    scroll-behavior: smooth;
  }

#formu {
    color: white;
}

.sub {
    display: flex;
    justify-content: center;
}